.aboutme {
 
}

div.sad{
	display:inline-block;
	text-align:center;
}
div.sad img {
	height:195px;
}

div.happy{
	display:inline-block;
	text-align:center;
}

div>img{
	
	width:350px;

}



span.favorite{
	color:pink;
	font-weight:bold;
}